<ion-view view-title="Add a new entry">
<ion-nav-buttons side="right">
  <button class="button button-icon ion-checkmark-circled" ng-click="addNew()"></button>
</ion-nav-buttons>

  <ion-content>
    <label class="item item-input item-select">
      <div class="input-label">
        Name:
      </div>
      <select ng-model="data.name">
        <option>Rajiv</option>
        <option selected>Neo</option>
        <option>Libin</option>
        <option>Raja</option>
      </select>
    </label>
    <label class="item item-input">
      <input type="number" placeholder="Amount" required="true" ng-model="data.amount">
    </label>
     <label class="item item-input">
      <textarea placeholder="comments" ng-model="data.comments"></textarea>
    </label>
  </ion-content>
</ion-view>
